## Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Reading Dataset

In [72]:
df = pd.read_csv('./football.csv')
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

## Checking for Null values in the dataset

In [73]:
df.isnull().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

## Summary of the dataset

In [74]:
df.describe()

         home_score    away_score
count  41876.000000  41876.000000
mean       1.744293      1.186503
std        1.752248      1.403053
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41876 entries, 0 to 41875
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        41876 non-null  object
 1   home_team   41876 non-null  object
 2   away_team   41876 non-null  object
 3   home_score  41876 non-null  int64
 4   away_score  41876 non-null  int64
 5   tournament  41876 non-null  object
 6   city        41876 non-null  object
 7   country     41876 non-null  object
 8   neutral     41876 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.6+ MB

## Data Preprocessing

Dropping the null columns.

In [76]:
df.dropna(inplace=True)

## Who is the best team of all time

In [77]:
best_home = df.groupby(['home_team']).home_score.sum() 
best_home

home_team
Abkhazia          36
Afghanistan       51
Albania          203
Alderney           5
Algeria          521
                ...
Yugoslavia       439
Zambia           564
Zanzibar          63
Zimbabwe         302
Åland Islands     47
Name: home_score, Length: 308, dtype: int64

In [78]:
best_away = df.groupby(['away_team']).away_score.sum() 
best_away

away_team
Abkhazia          12
Afghanistan       63
Albania          112
Alderney          10
Algeria          189
                ...
Yugoslavia       501
Zambia           561
Zanzibar         124
Zimbabwe         323
Åland Islands     26
Name: away_score, Length: 306, dtype: int64

In [79]:
best_away.add(best_home, fill_value=0).reset_index().sort_values(by=0,ascending=False).head(1)["index"]

86    England
Name: index, dtype: object

## Which teams dominated different eras of football